.container {
  background-color: #000000ba;
  position: relative;
}
.titulo {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  font-weight: 700;
  position: relative;
}
.pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}
.newReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.comprobar {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
