.contenedor{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.botones{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}