.pet {
  width: 100%;
  background-color: #272626;
  padding: 10px 15px;
  border-radius: 15px;
}
@media (min-width: 480px) {
  .pet {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.img {
  background-color: white;
  height: 220px;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
}
