.containerUbi {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  backdrop-filter: blur(5px);
  position: relative;
  background-color: #000000ba;
}
.containerFormUbi {
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.img {
  position: relative;
  background-color: #fff;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
